{{ define "HeaderHTML" }}
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/sign.css" />
{{ end }}

{{ define "Content" }}
<div id="signup">
  <div id="tips"></div>
  <form id="signup-form" action="/apis/accounts">
    <section>
      <label for="input-username">Username: </label>
      <input id="input-username" name="username" type="text" />
    </section>
    <section>
      <label for="input-password">Password: </label>
      <input id="input-password" name="password" type="password" />
    </section>
    <section>
      <label for="input-repeat-password">Repeat Password: </label>
      <input id="input-repeat-password" name="repeat-password" type="password" />
    </section>
    <section>
      <button>SignUp</button>
      <br />
      <a href="/account/signin">SignIn</a>
    </section>
  </form>
</div>
{{ end }}

{{ define "FooterHTML" }}
<script src="/static/scripts/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/scripts/plugins/jquery-form/jquery.form.js"></script>
<script src="/static/scripts/account.js"></script>
{{ end }}