{{ define "HeaderHTML" }}
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/sign.css" />
{{ end }}

{{ define "Content" }}
<div id="signin">
  <div id="tips"></div>
  <form id="signin-form" action="/apis/accounts/sign">
    <section>
      <label for="input-username">Username: </label>
      <input id="input-username" name="username" type="text" />
    </section>
    <section>
      <label for="input-password">Password: </label>
      <input id="input-password" name="password" type="password" />
    </section>
    <section>
      <button>SignIn</button>
      <br />
      <a href="/account/signup">SignUp</a>
    </section>
  </form>
</div>
{{ end }}

{{ define "FooterHTML" }}
<script src="/static/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/plugins/jquery-form/jquery.form.js"></script>
<script src="/static/scripts/account.js"></script>
{{ end }}