.form-wrapper
  margin-top 30vh

.form-wrapper section
  margin-top 4vh

.form-wrapper .label
  font-size 3vw
  display block

.form-wrapper input
  width 30vw
  border none
  color #fafafa
  font-size 2vw
  text-align center
  background transparent
  border-bottom 1px solid #fafafa

.form-wrapper button
  border 1px solid #fafafa
  padding 1vw 2vw
