.title
  font-size 36px

.wrapper
  padding 10px 20px

.date-container
  overflow hidden
  .avatar
    float left
    img
      border-radius: 30px
      width 30px
      height 30px
  .info
    padding 0 10px
    float left
  line-height 30px
