{{ define "HeaderHTML" }}{{ end }}

{{ define "Content" }}
<div id="obj-not-found">
  代碼如詩，而 <span id="who">{{.Who}}</span> 卻「找不到對象」。
</div>
<div id="obj-not-found-join">
  &gt;&gt; <a href="/accounts/join">我也找不到</a> &lt;&lt;
</div>
{{ end }}

{{ define "FooterHTML" }}
<script>
  function getQueryStringByName(name){ 
    var result = location.search.match(new RegExp("[\?\&]" + name+ "=([^\&]+)","i")); 
    if(result == null || result.length < 1) {
      return "";
    }
    return result[1];
    }
    who = getQueryStringByName('who');
    if (who != null && who.length > 0) {
    document.getElementById('who').innerHTML = who;
  }
</script>
{{ end }}